* {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

.divContainer {
    display: flex;
    
}



@media (max-width: 426px) {
    .navbarShow {
        display: flex;
    }
}